@import "./table.less";

.dumi-default-source-code > pre.prism-code > .highlighted,
  .dumi-default-source-code-scroll-content > pre.prism-code > .highlighted{
  background-color: #dff1fd;
  font-weight: bold;
  &:after{
    background-color: #1677ff;
  }
}

ul.dumi-default-toc{
  &>li[data-depth=2]{
    font-weight: bold;
  }
  &>li[data-depth=3]{
    padding-left: 12px;
  }
}


.dumi-default-features{
  .dumi-default-features-item{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    height: 136px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    & > i{
      font-size: 18px;
      border-radius: 5px;
      background-color: #ddd;
      padding: 12px;
      width: 24px;
      height: 24px;
    }
    &>p{
      margin: 4px;
    }

  }
}
