.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: transparent;
  border-collapse: collapse;
  border: 1px solid #dee2e6;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border: 1px solid #dee2e6;
}
.table th > *,
.table td > * {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
.table .table {
  background-color: transparent;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}
.table-bordered {
  border: 1px solid #dee2e6;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}
.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}
.table-sm th,
.table-sm td {
  padding: 0.3rem;
}
.table-active {
  background-color: #e8e8e8;
}
.dumi-default-source-code > pre.prism-code > .highlighted,
.dumi-default-source-code-scroll-content > pre.prism-code > .highlighted {
  background-color: #dff1fd;
  font-weight: bold;
}
.dumi-default-source-code > pre.prism-code > .highlighted:after,
.dumi-default-source-code-scroll-content > pre.prism-code > .highlighted:after {
  background-color: #1677ff;
}
ul.dumi-default-toc > li[data-depth=2] {
  font-weight: bold;
}
ul.dumi-default-toc > li[data-depth=3] {
  padding-left: 12px;
}
.dumi-default-features .dumi-default-features-item {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 1em;
  margin: 1em;
  height: 136px;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dumi-default-features .dumi-default-features-item > i {
  font-size: 18px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #ddd;
  padding: 12px;
  width: 24px;
  height: 24px;
}
.dumi-default-features .dumi-default-features-item > p {
  margin: 4px;
}
