.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: transparent;
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
.table .table {
  background-color: transparent;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}
.table-bordered {
  border: 1px solid #dee2e6;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}
.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}
.table-sm th,
.table-sm td {
  padding: 0.3rem;
}
.table-active {
  background-color: #e8e8e8;
}
.table-'primary' {
  background-color: #b8daff;
}
.table-'primary'-hover:hover {
  background-color: #9fcdff;
}
.table-'secondary' {
  background-color: #d6d8db;
}
.table-'secondary'-hover:hover {
  background-color: #c8cbcf;
}
.table-'success' {
  background-color: #c3e6cb;
}
.table-'success'-hover:hover {
  background-color: #b1dfbb;
}
.table-'info' {
  background-color: #bee5eb;
}
.table-'info'-hover:hover {
  background-color: #abdde5;
}
.table-'warning' {
  background-color: #ffeeba;
}
.table-'warning'-hover:hover {
  background-color: #ffe8a1;
}
.table-'danger' {
  background-color: #f5c6cb;
}
.table-'danger'-hover:hover {
  background-color: #f1b0b7;
}
.table-'light' {
  background-color: #fdfdfe;
}
.table-'light'-hover:hover {
  background-color: #ececf5;
}
.table-'dark' {
  background-color: #c6c8ca;
}
.table-'dark'-hover:hover {
  background-color: #b9bbbe;
}
